
.bg-container {
    background-color: #ffffff;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    min-height: 100vh;
}

.main-heading {
    font-weight: bold;
}

.buttons-container {
    margin: 20px;
}

.button {
    font-size: 20px;
    padding: 25px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.button-2 {
    background-color: #6fcf97;
}

.button-3 {
    background-color: #56ccf2;
}

.button-4 {
    background-color: #bb6bd9;
}

.paragraph {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}

.paragraph-2 {
    font-size: 22px;
}